body {
  font: 14px 'Century Gothic', Future, sans-serif;
  margin: 20px
}

.app {
  width: 500px;
  margin: 0 auto;
  
}

h1 {
  text-align: center;
  margin: 2.5rem 0;
}

h2 {
  padding-left: 2rem;
  margin-bottom: 1.5rem;
}

ol, 
ul{
  padding-left: 4rem;
}

.btn {
  padding: 5px;
  margin-bottom: 5px;
}

.board-row::after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background-color: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 2rem;
  font-weight: bold;
  line-height: 34px;
  height: 4rem;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 4rem;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}